.matching {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .list {
    display: grid;
    gap: 0.5rem;
  }

  .cell {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    user-select: none;
    background: transparent;
  }
}
