.fill-in-the-blank {
  .inline {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    flex-wrap: wrap;

    .text {
      white-space: pre-wrap;
    }

    .blank {
      inline-size: min(10rem, 100%);
    }
  }
}
